Repository Unity-Technologies/MLAPI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-tools, @Unity-Technologies/multiplayer-server, @chrispope, @tylerunity

chore: follow renaming changes in tools
  com.unity.netcode.gameobjects/Runtime/ToolsIntegration/Ngo1/Unity.Multiplayer.Tools.Adapters.Ngo1.asmdef
  com.unity.netcode.gameobjects/TestHelpers/Runtime/com.unity.netcode.testhelpers.runtime.asmdef
  com.unity.netcode.gameobjects/Tests/Runtime/com.unity.netcode.runtimetests.asmdef
Owners: @chrispope, @tylerunity

fix
  com.unity.netcode.gameobjects/Runtime/Messaging/RpcTargets/ClientsAndHostRpcTarget.cs
  com.unity.netcode.gameobjects/Runtime/Messaging/RpcTargets/NotServerRpcTarget.cs
  com.unity.netcode.gameobjects/Runtime/Messaging/RpcTargets/ServerRpcTarget.cs
Owners: @Unity-Technologies/multiplayer-sdk

fix: tests and 2 bugs
  com.unity.netcode.gameobjects/Runtime/ToolsIntegration/Ngo1/NetworkMetrics.cs
  com.unity.netcode.gameobjects/Runtime/ToolsIntegration/Ngo1/Ngo1Adapter.cs
  com.unity.netcode.gameobjects/TestHelpers/Runtime/Metrics/MetricTestBase.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/ConnectionMetricsTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Metrics/NetworkObjectMetricsTests.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-tools

fix
  com.unity.netcode.gameobjects/Runtime/Transports/NetworkTransport.cs
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
Owners: @Unity-Technologies/multiplayer-server

update
  com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs
Owners: @Unity-Technologies/multiplayer-sdk

update
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
Owners: @Unity-Technologies/multiplayer-server

style
  com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

update
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
Owners: @Unity-Technologies/multiplayer-server

test fix
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTests.cs
Owners: @Unity-Technologies/multiplayer-server

test - fix
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportConnectionTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
Owners: @Unity-Technologies/multiplayer-server

test - fix
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportConnectionTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

test - fix
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportConnectionTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTests.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

test
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
Owners: @Unity-Technologies/multiplayer-server

test
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportConnectionTests.cs
Owners: @Unity-Technologies/multiplayer-server

style
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportConnectionTests.cs
Owners: @Unity-Technologies/multiplayer-server

test - fix
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

update
  com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs
  com.unity.netcode.gameobjects/Runtime/Transports/NetworkTransport.cs
  com.unity.netcode.gameobjects/Runtime/Transports/UTP/UnityTransport.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTestHelpers.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

Test
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
  com.unity.netcode.gameobjects/Tests/Runtime/Transports/UnityTransportTests.cs
Owners: @Unity-Technologies/multiplayer-sdk, @Unity-Technologies/multiplayer-server

Update - Exp
  com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
Owners: @Unity-Technologies/multiplayer-sdk

test + style
  com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
Owners: @Unity-Technologies/multiplayer-sdk

test
  com.unity.netcode.gameobjects/Tests/Runtime/NetworkTransform/NetworkTransformOwnershipTests.cs
Owners: @Unity-Technologies/multiplayer-sdk

.github/CODEOWNERS:

# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information
# Order is important; the last matching pattern takes the most precedence.

* @Unity-Technologies/multiplayer-sdk
Profiling/ @Unity-Technologies/multiplayer-tools
Metrics/ @Unity-Technologies/multiplayer-tools
/com.unity.netcode.gameobjects/Runtime/Transports/ @Unity-Technologies/multiplayer-server
/com.unity.netcode.gameobjects/Tests/Editor/Transports/ @Unity-Technologies/multiplayer-server
/com.unity.netcode.gameobjects/Tests/Runtime/Transports/ @Unity-Technologies/multiplayer-server
*.asmdef @chrispope @tylerunity
package.json @chrispope @tylerunity
AssemblyInfo.cs @chrispope @tylerunity
.editorconfig @chrispope @tylerunity
.gitignore @chrispope @tylerunity
.github/ @chrispope @tylerunity
.yamato/ @chrispope @tylerunity
